[submodule "wiki"]
	path = wiki
	url = https://github.com/wgsl-tooling-wg/website.wiki.git
	update = merge
[submodule "wesl-spec"]
	path = wesl-spec
	url = https://github.com/wgsl-tooling-wg/wesl-spec.git
	update = merge
