@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100 900;
  src: url('/assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100 900;
  src: url('/assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100 900;
  src: url('/assets/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

:root {
  --background-color: #fff;
  --contrast-text-color: black;
  --muted-background-color: #f6f8fa;
  --primary-color: #0172ad;
  --secondary-color: #5d6b89;
  --show-table-of-contents: 0; /* no */
  --text-color: #373c44;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: grid;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-size: 18px;
  gap: 2rem;
  line-height: 1.5;
  max-width: 1200px;
  margin: auto;
  padding: 2rem;

  > * {
    overflow-x: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--contrast-text-color);

  &:first-child {
    margin-top: 0;
  }
}

a {
  color: var(--primary-color);
}

pre, code {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
  overflow: auto;
}

pre {
  background: var(--muted-background-color);
  padding: 0.1rem;
}

code.hljs {
  background: none;
  padding: 0;
}

header,
nav {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

header {
  align-items: center;
  color: var(--contrast-text-color);
  display: grid;
  grid-template-columns: auto 1fr;

  #linkHome {
    align-items: center;
    color: var(--contrast-text-color);
    display: flex;
    font-weight: bold;
  }

  #links {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    justify-content: end;
  }
}

#sideNav {
  display: none;
}

nav {   
  a {
    color: var(--secondary-color);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    .area {
      font-weight: bold;
    }

    div,
    > * {
      padding: 0.25rem 0;
    }

    div {
      font-size: 0.95em;
      margin-top: 0.5rem;
      text-transform: uppercase;
    }
  }
}

#navMenu {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: default;

  nav {
    background: var(--background-color);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
    position: absolute;
    z-index: 10; /* Pagefind magnifying glass icon is 9 */
  }
}

main {
  > :first-child {
    margin-top: 0;
  }
}

/* Desktop */
/* This breakpoint width should match what's in page.ori.html */
@media (min-width: 1000px) {
  body {
    grid-template-columns: auto 1fr;
    --show-table-of-contents: 1; /* yes */
  }

  header {
    grid-column: 1 / span 2;
    grid-template-columns: subgrid;
  }

  #navMenu {
    display: none;
  }

  #sideNav {
    display: block;
  }
}

/* Dark mode */
@media only screen and (prefers-color-scheme: dark) {
  :root {
    --background-color: #13171f;
    --contrast-text-color: white;
    --muted-background-color: #262a2f;
    --primary-color: #01aaff;
    --secondary-color: #969eaf;
    --text-color: #c2c7d0;
   color-scheme: dark;
  }
}
